body {
    padding: 10px 20px;
}

h1 {
    color: #222;
    margin: 0 0 30px;
}

.button {
    color: #333;
    background: linear-gradient(#eee, #ddd);
    border: 1px solid #222;
    border-radius: 3px;
    padding: 7px;
    margin-right: 5px;
    transition: .3s;
    font-family: ubuntu, sans-serif;
    font-size: 1em;
}

.button:active {
    background: linear-gradient(#ddd, #eee);
}

.button:hover,
.button:focus {
    box-shadow: 0 0 2px #222;
}

#execute {
    margin-top: 5px;
    min-width: 100px;
}

.error {
    color: red;
    transition: .5s;
    overflow: hidden;
}

#output {
    overflow: auto;
}

footer {
    font-size: .8em;
    color: #222;
}

.buttonArea {
    margin-top: 5px;
    font-family: monospace;
    font-size: 1.3em;
}

.mainMenu.leftMenu {
    text-align: left;
}

div.col.centerMenu {
    text-align: center;
}

.mainMenu .rightMenu {
    text-align: right;
}

.buttonArea button,
.buttonArea input {
    display: inline-block;
    padding: 0.35em 1.0em 0.15em;
    border: 0;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.18em;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    transition: all 0.2s;
    background-color: #fff;
}

.buttonArea input {
    width: 5em;
}

.dbHandlingMenu {
    display: inline-block;
    width: 100%;
}

.buttonArea select,
.dbHandlingMenu select {
    appearance: none;
    -webkit-appearance: button;
    -moz-appearance: button;
    border: none;
    border-radius: 0.18em;
    padding: 0.35em 1.0em 0.15em;
    margin: 0 0.3em 0.3em 0;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 0.1em;
    box-sizing: border-box;
    cursor: pointer;
    background-color: #fff;
    outline: none;
    width: min-content;
}

.dbHandlingMenu select {
    background-image: url("data:image/svg+xml;utf8,<svg fill='slategrey' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    border-bottom: 0.15em solid slategrey;
    font-size: 1.2rem;
    color: slategrey;
}

.dbHandlingMenu input[type="file"] {
    display: none;
}

.dbHandlingMenu button.btnHamburgerNav {
    float: right;
}

.dbHandlingMenu button.btnDbInfo,
.dbHandlingMenu label.fileUpload,
.dbHandlingMenu button.btnDbDownload,
.dbHandlingMenu button.btnDbNew,
.dbHandlingMenu button.btnHamburgerNav {
    display: inline-block;
    padding: 0.35em 1.0em 0.15em;
    border: 0;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.18em;
    box-sizing: border-box;
    cursor: pointer;
    border-bottom: 0.15em solid slategrey;
    background-color: #fff;
    color: slategrey;
    font-size: 1.2rem;
}

.dbHandlingMenu .hamburgerNav button.btnDbInfo,
.dbHandlingMenu .hamburgerNav label.fileUpload,
.dbHandlingMenu .hamburgerNav button.btnDbDownload,
.dbHandlingMenu .hamburgerNav button.btnDbNew,
.dbHandlingMenu .hamburgerNav button.btnHamburgerNav {
    display: inline-block;
    padding: 0.35em 1.0em 0.15em;
    border: 0;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.18em;
    box-sizing: border-box;
    cursor: pointer;
    background-color: #fff;
    color: slategrey;
    font-size: 1em;
}

.dbHandlingMenu .hamburgerNav label.fileUpload {
    padding: 0;
    margin: 0;
}

.dbHandlingMenu .hamburgerNav .nav-link {
    color: slategrey;
}

.dbHandlingMenu button.btnDbInfo:hover,
.dbHandlingMenu label.fileUpload:hover,
.dbHandlingMenu button.btnDbDownload:hover,
.dbHandlingMenu select:hover,
.dbHandlingMenu button.btnDbNew:hover {
    background-color: aliceblue;
}

.dbHandlingMenu .hamburgerNav label.fileUpload:hover {
    background-color: #fff;
}


/* Gilt nur für Chrome, nötig um den Pfeil im Dropdown hinzubekommen */

@media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) {
    .buttonArea select,
    .dbHandlingMenu select {
        appearance: none;
    }
}

.buttonArea select::-ms-expand {
    display: none;
}

.buttonArea select:invalid,
.buttonArea select.sqlSelect:invalid,
.buttonArea select.sqlWhere:invalid {
    color: gray;
}

.buttonArea select:hover,
.buttonArea button:hover {
    background-color: aliceblue;
}

.buttonArea input:focus {
    outline: none;
    background-color: aliceblue;
}


/* Unterstreichung der Befehle */

.buttonArea .sqlSelect,
.buttonArea .sqlGroup,
.buttonArea .sqlJoin,
.buttonArea .sqlOrder,
.buttonArea .sqlDelete,
.buttonArea .sqlUpdate,
.buttonArea .sqlInsert {
    display: inline-block;
    border-bottom: 0.15em solid steelblue;
}

.buttonArea button.sqlSelect,
.buttonArea button.sqlGroup,
.buttonArea button.sqlJoin,
.buttonArea button.sqlOrder,
.buttonArea button.sqlWhere,
.buttonArea button.sqlDelete,
.buttonArea button.sqlUpdate,
.buttonArea button.sqlInsert {
    border-bottom: 0.15em solid steelblue;
}


/* Code Coloring & Befehlsfarben*/

.codeArea .synSQL,
.buttonArea .synSQL {
    color: steelblue;
}

.buttonArea select.synSQL {
    background-image: url("data:image/svg+xml;utf8,<svg fill='steelblue' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
}

.codeArea .synTables,
.buttonArea .synTables {
    color: cadetblue;
}

.buttonArea select.synTables {
    background-image: url("data:image/svg+xml;utf8,<svg fill='cadetblue' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
}

.codeArea .synColumns,
.buttonArea .synColumns {
    color: tomato;
}

.buttonArea select.synColumns {
    background-image: url("data:image/svg+xml;utf8,<svg fill='tomato' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
}

.codeArea .synOperators,
.buttonArea .synOperators {
    color: goldenrod;
}

.buttonArea select.synOperators {
    background-image: url("data:image/svg+xml;utf8,<svg fill='goldenrod' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
}

.codeArea .synBrackets,
.buttonArea .synBrackets {
    color: indigo;
}

.buttonArea select.synBrackets {
    background-image: url("data:image/svg+xml;utf8,<svg fill='indigo' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
}

.codeArea .synValues,
.buttonArea .synValues {
    color: orchid;
}

.buttonArea select.synValues {
    background-image: url("data:image/svg+xml;utf8,<svg fill='orchid' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
}


/* Löschen, Hinzufügen, Run Button*/

.buttonArea button.btnDelete {
    color: orangered;
    border-bottom: 0.15em solid orangered;
}

.buttonArea button.btnAdd {
    color: forestgreen;
    border-bottom: 0.15em solid forestgreen;
}

.buttonArea button.btnRun,
.buttonArea button.btnRunMobile {
    color: forestgreen;
    border-bottom: 0.15em solid forestgreen;
}

.buttonArea button.btnUndo,
.buttonArea button.btnRedo {
    color: cornflowerblue;
    border-bottom: 0.15em solid cornflowerblue;
}


/* Linenumbers */

.codeArea {
    font-family: monospace;
    font-size: 1.3em;
    border: 1px solid lightgrey;
}

code {
    font-family: monospace;
}

pre {
    font-family: monospace;
    background-color: #fff;
    margin: 0.4em auto;
    padding: 0.5em;
    border-radius: 0.25em;
    line-height: 0;
    counter-reset: line;
    white-space: pre-line;
}

pre span.codeline .active span span {
    background-color: lightblue;
}

pre span.codeline {
    display: block;
    line-height: 1.5rem;
}

pre span.codeline span:first {
    padding-left: 2em;
}

@media (min-width: 768px) {
    /* bootstrap md breakpoint */
    pre span.codeline:before {
        counter-increment: line;
        content: counter(line);
        display: inline-block;
        border-right: 1px solid #ddd;
        padding: 0 0.5em;
        margin-right: 0.5em;
        color: #888;
    }
}

@media (max-width: 768px) {
    /* bootstrap md breakpoint */
    .buttonArea {
        overflow-x: auto;
        white-space: nowrap;
    }
}

#debug {
    border: 1px solid Gray;
}

.active {
    background-color: LightBlue;
}


/* Tabs */

div.tab-pane.active {
    background-color: #fff;
    ;
}

.rightArea button.nav-link {
    font-size: 1.1em;
    color: slategrey;
}

.rightArea .tab-content {
    padding-top: 0.6em;
}

.rightArea .tab-content h2 {
    color: slategrey;
}

.codeComponentsScrolldots {
    text-align: center;
    color: slategrey;
}

.codeComponentsScrolldots a:not([href]) {
    color: lightgray;
    text-decoration: none;
    padding: 0.2em;
}

.codeComponentsScrolldots a:not([href]).activeDot {
    color: slategrey;
}

#headerSql {
    display: inline-block;
}

.outputArea {
    height: 80vh;
    overflow-y: scroll;
}


/* Hide scrollbar for Chrome, Safari and Opera */

.buttonArea.codeComponents::-webkit-scrollbar {
    display: none;
}


/* Hide scrollbar for IE, Edge and Firefox */

.buttonArea.codeComponents {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}


/* debug area */

#debug-area {
    display: none;
}

.debug {
    color: red;
    border: 2px solid red;
}

.schemaTable td,
.schemaTable th {
    /*border-color: lightgrey;*/
}

.schemaTable td:first-child {
    padding-left: 0.8em;
}

.schemaTable th {
    padding-left: 0.8em;
}

.tableSql {
    /*border-color: lightgrey;*/
}