body {
    padding: 10px 20px;
}

h1 {
    color: #222;
    margin: 0 0 30px;
}

#btnExecRun{
    display: inline-block;
    padding: 0.35em 1.0em 0.15em;
    border: 0;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.18em;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    transition: all 0.2s;
    background-color: #fff;
    color: forestgreen;
    border-bottom: 0.15em solid forestgreen;
    width: 4em;
}


.button {
    color: #333;
    background: linear-gradient(#eee, #ddd);
    border: 1px solid #222;
    border-radius: 3px;
    padding: 7px;
    margin-right: 5px;
    transition: .3s;
    font-family: ubuntu, sans-serif;
    font-size: 1em;
}

.btn-outline-secondary{
    color: slategray;
    border-color: slategray;
}

.btn-group .red:hover {
    background-color: tomato;
}

.btn-group .green:hover {
    background-color: forestgreen;
}

.btn-group .blue:hover {
    background-color: steelblue;
}

#forms-editor .form-control{
    border-color: slategray;
}

.button:active {
    background: linear-gradient(#ddd, #eee);
}

.button:hover,
.button:focus {
    box-shadow: 0 0 2px #222;
}

#execute {
    margin-top: 5px;
    min-width: 100px;
}

.error {
    color: red;
    transition: .5s;
    overflow: hidden;
}

#output {
    overflow: auto;
}

footer {
    font-size: .8em;
    color: #222;
}



.dbHandlingMenu,
.formHandlingMenu {
    display: inline-block;
    width: 100%;
}

.dbHandlingMenu select, 
.formHandlingMenu select {
    appearance: none;
    -webkit-appearance: button;
    -moz-appearance: button;
    border: none;
    border-radius: 0.18em;
    padding: 0.35em 1.0em 0.15em;
    margin: 0 0.3em 0.3em 0;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 0.1em;
    box-sizing: border-box;
    cursor: pointer;
    background-color: #fff;
    outline: none;
    width: min-content;
}

.dbHandlingMenu select,
.formHandlingMenu select {
    background-image: url("data:image/svg+xml;utf8,<svg fill='slategrey' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    border-bottom: 0.15em solid slategrey;
    font-size: 1.2rem;
    color: slategrey;
}

.dbHandlingMenu input[type="file"], 
.formHandlingMenu input[type="file"] {
    display: none;
}

.dbHandlingMenu button.btnHamburgerNav, 
.formHandlingMenu button.btnHamburgerNav {
    float: right;
}

.dbHandlingMenu button.btnDbInfo,
.dbHandlingMenu label.fileUpload,
.dbHandlingMenu button.btnDbDownload,
.dbHandlingMenu button.btnDbNew,
.dbHandlingMenu button.btnHamburgerNav,
.formHandlingMenu button.btnDbInfo,
.formHandlingMenu label.fileUpload,
.formHandlingMenu button.btnFormDownload,
.formHandlingMenu button.btnFormNew,
.formHandlingMenu button.btnHamburgerNav  {
    display: inline-block;
    padding: 0.35em 1.0em 0.15em;
    border: 0;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.18em;
    box-sizing: border-box;
    cursor: pointer;
    border-bottom: 0.15em solid slategrey;
    background-color: #fff;
    color: slategrey;
    font-size: 1.2rem;
}

.formHandlingMenu .hamburgerNav button.btnDbInfo,
.formHandlingMenu .hamburgerNav label.fileUpload,
.formHandlingMenu .hamburgerNav button.btnDbDownload,
.formHandlingMenu .hamburgerNav button.btnFormNew,
.formHandlingMenu .hamburgerNav button.btnHamburgerNav, 
.dbHandlingMenu .hamburgerNav button.btnDbInfo,
.dbHandlingMenu .hamburgerNav label.fileUpload,
.dbHandlingMenu .hamburgerNav button.btnDbDownload,
.dbHandlingMenu .hamburgerNav button.btnDbNew,
.dbHandlingMenu .hamburgerNav button.btnHamburgerNav {
    display: inline-block;
    padding: 0.35em 1.0em 0.15em;
    border: 0;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.18em;
    box-sizing: border-box;
    cursor: pointer;
    background-color: #fff;
    color: slategrey;
    font-size: 1em;
}

.formHandlingMenu .hamburgerNav label.fileUpload,
.dbHandlingMenu .hamburgerNav label.fileUpload {
    padding: 0;
    margin: 0;
}

.formHandlingMenu .hamburgerNav .nav-link,
.dbHandlingMenu .hamburgerNav .nav-link {
    color: slategrey;
}

.dbHandlingMenu button.btnDbInfo:hover,
.dbHandlingMenu label.fileUpload:hover,
.dbHandlingMenu button.btnDbDownload:hover,
.dbHandlingMenu select:hover,
.dbHandlingMenu button.btnDbNew:hover,
.formHandlingMenu button.btnDbInfo:hover,
.formHandlingMenu label.fileUpload:hover,
.formHandlingMenu button.btnFormDownload:hover,
.formHandlingMenu select:hover,
.formHandlingMenu button.btnFormNew:hover  {
    background-color: aliceblue;
}

.dbHandlingMenu .hamburgerNav label.fileUpload:hover,
.formHandlingMenu .hamburgerNav label.fileUpload:hover {
    background-color: #fff;
}


.form-param {
    font-family: monospace;
    font-size: 1.2em;
    vertical-align: middle;
}

.form-params li {
    list-style: none;
    padding: 0.3em;
    margin: 0.4em 0;
}

#formsSwitchModeForm {
    margin-top: auto;
    margin-bottom: auto;
}

/* Gilt nur für Chrome, nötig um den Pfeil im Dropdown hinzubekommen */

@media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) {
    .dbHandlingMenu select {
        appearance: none;
    }
}







div .exerciseMobileView {
    overflow-y: scroll;
    max-height: calc(100vh - 28em);
}




#debug {
    border: 1px solid Gray;
}

.active {
    background-color: LightBlue;
}


/* Tabs */

div.tab-pane.active {
    background-color: #fff;
    ;
}

.rightArea button.nav-link {
    font-size: 1.1em;
    color: slategrey;
}

.rightArea .tab-content {
    padding-top: 0.6em;
}

.rightArea .tab-content h2 {
    color: slategrey;
}

#headerSql {
    display: inline-block;
}

.outputArea {
    height: 80vh;
    overflow-y: scroll;
}

.exercise-feedback {
    display: none;
}

.exercise-feedback h3 {
    color: forestgreen;
}

.exercise-header {
    color: goldenrod;
}

.progress-bar {
    background-color: steelblue;
}

.accordion-button:not(.collapsed) {
    color: steelblue;
    background-color: #fff;
}

.accordion-button:not(.collapsed)::after {
    color: steelblue;
}




/* debug area */

#debug-area {
    display: none;
}

.debug {
    color: red;
    border: 2px solid red;
}

.schemaTable td,
.schemaTable th {
    /*border-color: lightgrey;*/
}

.schemaTable td:first-child {
    padding-left: 0.8em;
}

.schemaTable th {
    padding-left: 0.8em;
}

.tableSql {
    /*border-color: lightgrey;*/
}

.input-check-exercise {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}